<div class="container">
  <h3>Project Info:</h3>
  <p>Name: <%= @project.name %></p>
  <p>Location: <%= @project.location %></p>
  <p>Description: <%= @project.description %></p>
  <p>Status: <%= @project.status.capitalize %></p>
  <p>Project Date: <%= @project.created_at %></p>
  <p>Required Skills:
    <% @project.skills.each do |skill| %>
      <%= skill.name%>
    <% end %></p>

  <% if @project.status == "unassigned" %>
  <%= link_to "Create a Proposal", new_professional_proposal_path(project: @project.id), class: "btn btn-warning" %>
  <% end %>

  <%= render partial: "rating" %>

  <%= link_to "Back to Your Professional Dashboard", professional_dashboard_path %>

</div>
