<div class="container">
  <div class="col-md-6 profile-card prof-project">

  <h3>Project Info:</h3>
  <p>Name: <%= @project.name %></p>
  <p>Location: <%= @project.location %></p>
  <p>Description: <%= @project.description %></p>
  <p>Status: <%= @project.status %></p>
  <p>Project Date: <%= @project.created_at %></p>
  <p>Requester: <%= link_to @project.user.name, requester_path(@project.user) %> (Rating: <%= @project.user.average_rating if @project.user.average_rating %>) </p>
  <p>Required Skills:
    <% @project.skills.each do |skill| %>
      <%= skill.name%>
    <% end %></p>

  <% if @project.status == "unassigned" %>
    <%= link_to "Create a Proposal", new_professional_proposal_path(project: @project.id), class: "btn btn-warning" %>
  <% end %>

  <% if @project.status == "complete" %>
  <%= render partial: "rating" %>
  <% end %>


  <p><%= link_to "Back to Your Professional Dashboard", professional_dashboard_path %></p>

  </div>
  <% unless @project.status == "unassigned" %>
    <%= render partial: "shared/message_center" %>
  <% end %>

</div>
