<div class="container">
  <div class="professionalshow">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @professional.name %>:</h3>
      </div>
      <div class="panel-body">
        <p>Location: <%= @professional.location %></p>
        <p>Skills: <% @professional.skills.each do |skill| %>
        <%=link_to skill.name, skills_search_path(skill: {skill_id: skill.id}) %><p/>
        <% end %>
        <p>Contact this pro:<p>
          <p><%= @professional.email %><p/>
          <p><%= @professional.phone %><p/>
        <p><%= link_to "Back to the full Professional Index", professionals_path %></p>
      </div>
    </div>
</div>
</div>
