<div class="container">
<div class="row">
    <h1 style="text-align:center">Welcome to Your Admin Dashboard</h1>
    <div class="col-md-6 col-md-offset-3">
      <h3>Users:</h3>
      <div id="table_overflow">
        <table class="table">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
            <th>Change status</th>
            <th>Delete user?</th>
          </tr>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to user.name, admin_user_path(user) %></td>
              <td><%= user.status %></td>
              <% if user.active? %>
                <td id=update_<%= user.id %>><%= button_to "Deactivate", admin_user_path(user), method: :patch, class: "btn btn-warning" %></td>
              <% else %>
                <td id=update_<%= user.id %>><%= button_to "Activate", admin_user_path(user), method: :patch, class: "btn btn-success"  %></td>
              <% end %>
              <td id=delete_<%= user.id %>><%= button_to "Delete", admin_user_path(user), method: :delete, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
</div>
</div>
