<div class="row">
  <div class="form">
    <div class="col-md-4 col-md-offset-4">
      <h2>Create a new project:</h2>
      <%= form_for [:requester, @project] do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :location %>
        <%= f.text_field :location %>
        <%= f.label :description %>
        <%= f.text_area :description %>

        <div class="row">
          <% @skills.each do |skill| %>
            <div class="col-md-4">
              <%= label_tag skill.name %>
              <%= check_box_tag(:skill_id, skill.id, false, name: "project[skill_ids][]", id: "skill-#{skill.id}", include_blank: true) %>
            </div>
          <% end %>
        </div>

        <%= f.submit("Create Project") %>
      <% end %>
    </div>
  </div>
</div>
