<div class="container">
  <div class="row">
    <div class="form col-md-4 col-md-offset-4">
      <h1><%= @project.name %></h1>
      <h3>Status: <%= @project.status.capitalize %></h3>

      <%= @project.location %>

      <%= @project.status %>

      <% if @project.status == "assigned" %>
        <%= link_to "Mark This Project as Complete", edit_requester_project_path(current_user, project: @project.slug), method: :get %>
      <% end %>

      <% if @project.status == "complete" && @requester.not_rated?(@professional) %>
      <span id=rate-header> <h4>Rate This Professional:</h4>
      <h4><%= link_to @professional.name, professional_path(@professional) %></h4></span>
       <%= form_for [@requester,@rating],  url: requester_ratings_path(professional: @professional, project: @project) do |f| %>
         <%= f.label "Score" %>
         <%= f.select :score, options_for_select(1..5), include_blank: true %>
         <%= f.label "Comment" %>
         <%= f.text_area :comment %>
         <%= f.submit %>
      <% end %>
      <% end %>
    </div>
  </div>
  <% @project.proposals.each do |proposal| %>
  <p>Proposal ID: <%= link_to proposal.id, requester_proposal_path(proposal) %></p>
  <p>From: <%= proposal.user.name %></p>
  <%= proposal.status %>
  <% end %>
</div>
