<div class="container">
  <div class="row">
    <div class="form col-md-4 col-md-offset-4">
      <h1>Update account:</h1>
      <%= form_for @user do |f| %>
        Name:
        <%= f.text_field :name %>
        Username:
        <%= f.text_field :username %>
        Email:
        <%= f.text_field :email %>
        Location:
        <%= f.text_field :location %>
        Phone number:
        <%= f.text_field :phone %>

        <h4>Your role(s):</h4>
        <ul>
          <% @user.roles.each do |role| %>
            <li><%= role.title %></li>
          <% end %>
        </ul>

        <h4>Add a role to your account:</h4>
        <%= f.collection_select(:role_to_add, @user.role_to_add, :id, :title, include_blank: true) %>

        <h4>To change password:</h4>

        <%= f.submit "Send me a verification code!", class: "btn btn-primary" %>

        <%= f.submit "Update", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
