<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <h1>Sign up</h1>
    <%= form_for @user do |f| %>
      Name:
      <%= f.text_field :name %>
      Username:
      <%= f.text_field :username %>
      Email:
      <%= f.text_field :email %>
      Location:
      <%= f.text_field :location %>
      Phone number:
      <%= f.text_field :phone %>
      Password:
      <%= f.password_field :password %>
      Password Confirmation:
      <%= f.password_field :password_confirmation %>
      Please select a Requester or Professional account:
      <%= f.collection_select(:roles, @roles, :id, :title) %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
