<%= render partial: "shared/navbar" %>


<h1>Signup!</h1>

<%= form_for @user do |f| %>

  Name: <%= f.text_field :name %>
  Username: <%= f.text_field :username %>
  Email: <%= f.text_field :email %>
  Location: <%= f.text_field :location %>
  Phone number: <%= f.text_field :phone %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>
