<div class="container">
  <div class="row">
    <div class="form col-md-4 col-md-offset-4">
      <h1>Your account information:</h1>
      <p>Name:         <%= @user.name %></p>
      <p>Username:     <%= @user.username %></p>
      <p>Email:        <%= @user.email %></p>
      <p>Location:     <%= @user.location %></p>
      <p>Phone number: <%= @user.phone %></p>
      <p>
        Role(s):
        <% @user.roles.each do |role| %>
          <%= role.title %>,
        <% end %>
      </p>

      <%= link_to "Update account info", edit_user_path(@user) %>
    </div>
  </div>
</div>
