<h4>Your Skills:</h4>
<% @professional.skills.each do |skill| %>
<p><%= skill.name %> <%= button_to "Delete", professional_skill_path(skill), method: :delete %> </p>
<% end %>
<div class="professional_add_skill">
  <h4>Add a Skill:</h4>
  <%= form_tag({controller: "skills", action: "create"}, method: "post(or put)") do %>
  <%= collection_select(:skill, :skill_id, @skills, :id, :name) %>
  <%= submit_tag("Add this skill!") %>
  <% end %>
  <hr>
</div>
