<h4>Your Skills:</h4>
<ul class="list-inline">
  <% @professional.skills.each do |skill| %>
  <li><%= skill.name.capitalize %> <%= button_to "Delete", professional_skill_path(skill), method: :delete , class: "btn btn-danger btn-xs" %></li>
  <% end %>
</ul>
<div class="professional_add_skill">
  <h4>Add a Skill:</h4>
  <%= form_tag({controller: "skills", action: "create"}, method: "post(or put)") do %>
  <%= collection_select(:skill, :skill_id, @skills, :id, :name) %>
  <%= submit_tag "Add this skill!", class: "btn btn-info btn-sm" %>
  <% end %>
  <hr>
</div>
