<div class="container">
  <div class="dashboard-container">
    <h1>Welcome to Your Professional Dashboard</h1>
    <div class="row">
      <div class="col-md-6">
        <h4>Your Skills:</h4>
        <% @professional.skills.each do |skill| %>
        <p><%= skill.name %></p>
        <% end %>
        <div class="professional_add_skill">
        <h4>Add a Skill:</h4>
        <%= form_tag({controller: "skills", action: "create"}, method: "post(or put)") do %>
          <%= collection_select(:skill, :skill_id, @skills, :id, :name) %>
          <%= submit_tag("Add this skill!") %>
          <% end %>
        <hr>
      </div>
         <%= button_to "Find Work",  professional_projects_path, method: :get, class: "btn btn-warning" %>
      </div>
      <div class="col-md-6">
        <h5>Active Projects: </h5>
          <div class="row">
            <% @professional.projects.each do |project| %>
              <div class="panel col-md-6">
                <p>Name: <%= link_to project.name, professional_project_path(project: project.slug) %></p>
                <p>Status: <%= project.status %></p>
              </div>
            <% end %>
          </div>
        <h5>Proposals</h5>
        <div class="row">
          <% @professional.proposals.each do |proposal| %>
            <div class="proposal-<%= proposal.id %> panel col-md-6">
              <p>Proposal ID: <%=link_to proposal.id, professional_proposal_path(proposal) %>  <%= link_to "Delete", professional_proposal_path(proposal), method: :delete, class:"btn btn-danger btn-xs sit-right" %> </p>
              <p>Project: <%= proposal.project.name %> <% proposal.project.id %></p>
              <p>Date Submitted: <%= proposal.created_at %> </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
