<div class="dashboard-container">
  <div class="dashboard-header">
    <div class="container">
      <h1>Welcome to Your Professional Dashboard</h1>
      <div class="row header-block col-md-6 col-md-offset-3 text-center">
        <%= button_to "Find Work",  professional_projects_path, method: :get, class: "btn btn-warning btn-lg" %>
        <%= render partial: "skills" %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render partial: 'proposals' %>
    </div>
    <div class="col-md-4">
      <%= render partial: 'active_projects' %>
    </div>
    <div class="col-md-4">
      <%= render partial: 'completed_projects' %>
    </div>
  </div>
</div>
