<div class="dashboard-container dashboard-header">
  <div class="container text-center">
    <h1>Welcome to Your Requester Dashboard</h1>
    <%= link_to "Create New Project", new_requester_project_path, class: "btn btn-primary btn-lg prof-btn" %>
  </div>
</div>
<div class="container">
  <div class="row" id="current-projects">
    <h4>Current Projects</h4>
    <% @user.current_projects.each_with_index do |project, index| %>
    <a href=<%= requester_project_path(project: project.slug) %> >
      <div class="col-md-3 profile-card">
        <h5><%= project.name %></h5>
        <p>Status: <%= project.status.capitalize %></p>
        <p>Location: <%= project.location %></p>
        <p>Description: <%= project.description %></p>
        <p>Project ID: <%= project.id %></p>
          <% if project.status == "assigned" %>
          Professional: <%= project.proposals.where(status: "assigned").first.user_id %>
          <% end %>
      </div>
    </a>
    <% if (index +1) % 4 == 0 %>
      <div class="clearfix"></div>
    <% end %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row" id="proposals">
    <h4>Proposals</h4>
    <% @user.projects.unassigned.each do |project| %>
    <% project.proposals.unassigned.each_with_index do |proposal, index| %>
        <div class="col-md-3 profile-card">
          <h5>Proposal ID: <%= link_to proposal.id, requester_proposal_path(proposal) %> for project <%= proposal.project_id %> </h5>
          <p>Proposed by: <%= proposal.user.name %></p>
          <p>Status: <%= proposal.status %></p>
        </div>
        <% if (index + 1) % 4 == 0 %>
          <div class="clearfix"> </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row" id="completed-projects">
    <h4>Project History</h4>
    <% @user.completed_projects.each_with_index do |project, index| %>
    <a href=<%= requester_project_path(project: project.slug) %> >
      <div class="col-md-3 profile-card">

        <h5><%= project.name %></h5>
        <p>Status: <%= project.status %></p>
        <p>Location: <%= project.location %></p>
        <p>Description: <%= project.description %></p>
      </div>
    </a>
      <% if (index + 1) % 4 == 0 %>
        <div class="clearfix"> </div>
      <% end %>
    <% end %>
  </div>
</div>
