<div class="row">
  <div class="form">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for @user, :url => {:controller => 'confirmations', :action => 'update'} do |f| %>
        <%= f.label "Verification Code" %>
        <%= f.password_field :verification_code %>
        <%= f.label "New Password" %>
        <%= f.password_field :password %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
